<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <h1 class="mb-1" style="color: rgb(17, 144, 89);">SALAS DE DIAGRAMA DE SECUENCIA</h1>
            {{!-- <h3 class="mb-3" style="color: cadetblue;">
                <em>Tu mejor lugar para crear diagramas en tiempo real</em>
            </h3> --}}
            <a class="btn btn-dark btn-lg" href="/salas/add">
                Empieza creando una sala YA!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>